/* ===== wrapper ===== */
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

/* ===== end wrapper ===== */

/* ===== body ===== */
body {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	background-color: #F5F5F5;;
}

/* ===== end body ===== */

/* ===== container ===== */
[class*="__container"] {
	max-width: 1050px;
	margin: 0 auto;
	padding: 0px 15px;
}

/* ===== end container ===== */

/* ===== main ===== */
.main {
	flex: 1 1 auto;
}

/* ===== end main ===== */

/* ===== titles ===== */
.titles {}

.titles__label {
	font-weight: 700;
	font-size: 12px;
	line-height: 2;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #5D62B5;
	background: url('../img/title-icon.svg') 0 -2px no-repeat;
	padding: 0px 0px 0px 33px;
}

.titles__label:not(:last-child) {
	margin: 0px 0px 33px 0px;
}

.titles__text {
	font-weight: 900;
	font-size: 36px;
	line-height: 1.17;
	color: #000000
}
.item-title {
	font-weight: 900;
	font-size: 19px;
	line-height: 1.37;
	color: #F2726F;
}
.item-text {
	line-height: 1.5;
	letter-spacing: 0.15px;
	color: #4B4B4B;
}
/* ===== end titles ===== */

/* ===== promise ===== */
.promise {
	padding: 50px 0px;
}

.promise__container {}

.promise__header {
	margin: 0px 0px 68px 0px;
}

.promise__items {
	display: flex;
	flex-wrap: wrap;
	row-gap: 30px;
	margin: 0px -12px;
}

.promise-item {
	flex: 0 1 33.333%;
	padding: 0px 12px;
	column-gap: 23px;
}

.item-promise {
	display: flex;
	align-items: flex-start;
}

.item-promise__image {}

.item-promise__body {

}

.item-promise__title {

}
.item-promise__title:not(:last-child) {
	margin: 0px 0px 20px 0px;
}

.item-promise__text {

}
/* ===== end promise ===== */

/* ===== services ===== */
.services {
	padding: 110px 0px 112px 0px;
	background-color: #5e5e5e;
}
.services__container {
}
.services__header {
	margin: 0px 0px 78px 0px;
}
.services-items {
	display: flex;
	flex-wrap: wrap;
	row-gap: 24px;	
	margin: 0px -12px;	
}
.services-item {
	flex: 0 1 33.333%;
	padding: 0px 12px;	
}
.item-services {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 20px;
	background-color: #fff;
	padding: 50px 44px 50px 43px;
	min-height: 100%;
}
.item-services__image {
	width: 63px;
}
.item-services__image:not(:last-child) {
	margin: 0px 0px 33px 0px;
}
.item-services__title {
}
.item-services__title:not(:last-child) {
	margin: 0px 0px 20px 0px;
}
.item-services__text {
	text-align: center;
}

/* ===== end services ===== */