/* ===== wrapper ===== */
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
/* ===== end wrapper ===== */

/* ===== body ===== */
body {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
}
/* ===== end body ===== */

/* ===== container ===== */
[class*="__container"] {
	max-width: 1050px;
	margin: 0 auto;
	padding: 0px 15px;
}
/* ===== end container ===== */

/* ===== main ===== */
.main {
	flex: 1 1 auto;
}
/* ===== end main ===== */